<nav>
  <ul>
    <li><a routerLink="/" routerLinkActive="active-link">Home</a></li>
    <li><a routerLink="/about" routerLinkActive="active-link">About</a></li>
    <li><a routerLink="/contact" routerLinkActive="active-link">Contact</a></li>
    <li><a routerLink="/user/1" routerLinkActive="active-link">User 1</a></li>
    <li><a routerLink="/user/2" routerLinkActive="active-link">User 2</a></li>
  </ul>
</nav>

<!-- This is where routed components will be displayed -->
 <div style="background-color: aqua;">
  <router-outlet></router-outlet>
</div>
